$colorprimario: rgb(7, 7, 7);
$colorsecundario: rgb(8, 8, 250);

.hello {
	margin-left: 50px;
	width: 850px;
	clear: both;
	color: $colorprimario;
	h1 {
		font-family: 'IBM Plex Sans', sans-serif;
		font-size: 40px;
		color: $colorprimario;
	}
	.world {
		text-decoration: line-through;
	}
	.punto {
		color: blue;
	}
	p {
		font-family: 'IBM Plex Mono', monospace;
		font-size: 25px;
		color: $colorprimario;
	}
	a {
		line-height: 50px;
		background: rgb(48, 48, 245);
		padding: 5px;
		border-radius: 3px;
		color: $colorprimario;
		font-family: 'IBM Plex Serif', serif;
		font-size: 26px;
		text-decoration: none;
		&:hover {
			background: rgb(72, 72, 250);
			box-shadow: 5px 5px rgb(132, 132, 245);
		}
	}
}

@media only screen and (max-width: 480px) {
	.hello {
		width: auto;
	}
}

.fondo {
	position: relative;
	top: 100px;
	width: 100%;
	height: 800px;
	background: linear-gradient(to right, rgb(45, 45, 240), #7f7fee);
	transform: skewY(-3deg);
	h2 {
		font-family: 'IBM Plex Sans', sans-serif;
		position: relative;
		color: white;
		top: 50px;
		font-size: 40px;
		padding: 10px;
		transform: skewY(3deg);
	}
	.iframee {
		position: relative;
		top: 50px;
		transform: skewY(3deg);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.inf1 {
		border: none;
		width: 600px;
		height: 300px;
	}
}

.phono {
	position: relative;
	top: 30px;
	z-index: 1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	img {
		width: 400px;
		height: 600px;
	}
	.phono1 {
		position: relative;
		top: 30px;
		text-align: justify;
		color: $colorprimario;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
		width: 350px;
		height: 350px;
	}
	h2 {
		font-family: 'IBM Plex Sans', sans-serif;
		font-size: 30px;
		padding: 15px;
		color: $colorprimario;
	}
}
@media only screen and (max-width: 480px) {
	.phono {
		display: flex;
		flex-direction: column;
	}
	.phono1 {
		margin-left: 40px;
	}
}

.invitadas {
	position: relative;
	top: 60px;
	h2 {
		font-family: 'IBM Plex Sans', sans-serif;
		color: $colorprimario;
		font-size: 40px;
		padding: 10px;
	}
	.fotoss {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	img {
		width: 550px;
		height: 300px;
	}
}

@media only screen and (max-width: 480px) {
	.invitadas {
		position: relative;
		top: 0;
	}

	.fotoss img {
		width: 100%;
	}
}

.temas {
	position: relative;
	top: 100px;
	h2 {
		font-family: 'IBM Plex Sans', sans-serif;
		color: $colorprimario;
		font-size: 35px;
		margin-left: 20px;
	}
	.icon {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.col {
		padding: 20px 30px;
		text-align: center;
		font-size: 20px;
	}
	img {
		width: 200px;
	}
}

.novedades {
	position: relative;
	top: 90px;
	background: linear-gradient(to right, rgb(45, 45, 240), #7f7fee);
	height: 250px;
	overflow: hidden;
	clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
	h2 {
		font-size: 30px;
		text-transform: uppercase;
		color: cornsilk;
	}
	a {
		color: $colorprimario;
		background: rgb(45, 45, 240);
		font-weight: bold;
		border-radius: 3px;
		padding: 15px 20px;
		text-decoration: none;
		&:hover {
			cursor: pointer;
			box-shadow: 5px 5px rgb(42, 25, 117);
		}
	}
	.div3 {
		position: relative;
		top: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}

@media only screen and (max-width: 480px) {
	.fondo {
		height: auto;
	}

	.phono {
		top: 80px;
		margin-right: 50px;
	}

	.phono .phono1 {
		height: 470px;
	}

	.novedades h2 {
		text-align: center;
	}
}
